body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
}


/*header*/

header {
    min-height: 50px;
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    background-color: #80a873;
    padding: 5px;
    z-index: 1;
}

.header {
    display: flex;
}
  
.header__logo {
    width: 60px;
    height: 80px;
    padding-left: 30px;
    align-self: center;
}

.header__text {
    font-size: 50px;
    font-weight: 300;
    padding-left: 30px;
}

.header__nav-section {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-right: 30px;
}
  
a {
    text-decoration: none;
    color: black;
    padding: 20px;
}


/*main*/

.block {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.block__info {
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: large;
}

.block__info--general {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
}

.block__info--vision {
    font-style: italic;
    font-weight: 700;
    font-size: larger;
}
.block__info--content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    border-color:#80a873;
    border-radius: 10%;
    border-width: 4px;
    border-style: double;
    justify-content: space-around;
}

.block__info--text {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
    padding: 20px;
}

.block__img {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 30%;
}

.block__img--kicki, .block__img--maja {
    transform: rotate(10deg);
}

.block__img--asa {
    transform: rotate(-10deg);
}


/*footer*/

footer {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #80a873;
    padding: 5px;
}  
  
.footer__info {
    padding: 5%;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}